<!-- Reactive Form -->
<form [formGroup]="personnageForm" (ngSubmit)="creerPersonnage()">
  nom:
  <input
    placeholder="nom obligatoire"
    name="nom"
    id="nom"
    formControlName="nom"
    (input)="updateNom()"
  />
  <span *ngIf="nom.errors && nom.dirty"
    >{{ nom.errors["required"] ? " nom obligatoire" : "" }}
    {{ nom.errors["maxLength"] ? " nom trop long" : "" }}
    {{ nom.errors["keynomsInterdis"] }}</span
  >
  <span *ngIf="nom.errors && nom.invalid"></span>
  <br />

  <super-date (changeDate)="changeAge($event)"></super-date>

  age:
  <input
    placeholder="age obligatoire"
    name="age"
    id="age"
    type="number"
    formControlName="age"
    (input)="updateAge()"
  />
  <span *ngIf="age.errors && age.dirty"
    >{{ age.errors["min"] ? " age " + age.value + " trop petit" : "" }}
    {{ age.errors["max"] ? " age " + age.value + " trop grand" : "" }}
    {{ age.errors["keyagesInterdis"] }}</span
  >

  <button [disabled]="personnageForm.invalid" type="submit">Créer</button>
</form>

<!-- Texte à afficher si erreur ou pas -->
<ng-container *ngIf="personnage"
  >Hello {{ personnage.nom }}, you are {{ personnage.age }} years
  old.</ng-container
>

<ng-container *ngIf="!personnage"
  >Personne doit avoir un nom et un age</ng-container
>
<ng-container *ngIf="personnage" [ngSwitch]="personnage.age">
  <div *ngSwitchCase="20">Vous êtes dans un age magique</div>
  <div *ngSwitchCase="65">Vous êtes à la retraite</div>
  <div *ngSwitchDefault>Vous êtes en vie</div>
</ng-container>
<br />
